In [28]:
#import library
import pandas as pd
import pickle

In [29]:
# Simpan full pipeline ke dalam file model_full_pipeline.pkl
with open('model_full_pipeline.pkl', 'rb') as file1:
   model_full_pipeline = pickle.load(file1)

# Simpan model logreg ke dalam file model_logreg.pkl
with open('model_kmeans.pkl', 'rb') as file2:
   model_kmeans = pickle.load(file2)

In [30]:
data ={'CASH_ADVANCE' : [0.000000,1004.279993,0.000000,973.827667,0.000000],
        'BALANCE' :[1083.379171, 516.492760, 109.009133, 1929.069939, 158.657744],
        'PURCHASES' : [9.90,380.00,749.18,0.00,752.00],
        'CREDIT_LIMIT' : [1900.0,1200.0,1000.0,2500.0,2500.0],
        'PURCHASES_TRX' : [1,6,10,0,4]}

In [31]:
inf = pd.DataFrame(data,columns=data.keys())
inf

   CASH_ADVANCE      BALANCE  PURCHASES  CREDIT_LIMIT  PURCHASES_TRX
0      0.000000  1083.379171       9.90        1900.0              1
1   1004.279993   516.492760     380.00        1200.0              6
2      0.000000   109.009133     749.18        1000.0             10
3    973.827667  1929.069939       0.00        2500.0              0
4      0.000000   158.657744     752.00        2500.0              4

In [32]:
#memanggile pipline sebagai preprocess
full_pipeline = model_full_pipeline.transform(inf)
full_pipeline

array([[-2.09470186e-01, -2.55624697e-01,  9.60805501e-02],
       [-1.84119901e-01, -1.24107797e-01, -1.34725840e-01],
       [-1.51590795e-02, -3.01413353e-01, -6.04043113e-02],
       [-2.87843454e-01, -2.59452024e-02,  4.30009645e-02],
       [-6.16264519e-02, -2.81416314e-01,  2.04488265e-04]])

In [33]:
inf_final = full_pipeline.copy()

In [34]:
inf_pred_model = model_kmeans.predict(inf_final)

In [35]:
df_pred_model = pd.DataFrame(inf_pred_model, columns=['Pred_cluster']) 
df_pred_model

   Pred_cluster
0             2
1             2
2             2
3             2
4             2

In [36]:
#menggabungkan dataframe dengan pred model
df_combined = pd.concat([inf, df_pred_model], axis=1)
df_combined

,CASH_ADVANCE,BALANCE,PURCHASES,CREDIT_LIMIT,PURCHASES_TRX,Pred_cluster
0,0.000000,1083.379171,9.90,1900.0,1,2
1,1004.279993,516.492760,380.00,1200.0,6,2
2,0.000000,109.009133,749.18,1000.0,10,2
3,973.827667,1929.069939,0.00,2500.0,0,2
4,0.000000,158.657744,752.00,2500.0,4,2

dari hasil kerja model dan dilakukan dengan data random seperti data yang sudah di inputkan di atas model dapat memprediksi dengan ketentuan 
Kategori pengguna kartu kredit:

* Cluster 0 = diatas rata-rata
* Cluster 1 = menengah
* Cluster 2 = dibawah rata-rata